@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #45badd;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(./images/robot.gif);
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}
button {
  cursor: pointer;
  outline: none;
  padding: 1rem 2rem;
  font-family: sans-serif;
  font-size: 1.5rem;
  color: white;
  background: #ff3482;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
}
button:hover {
  filter: brightness(95%);
}

button:active {
  transform: scale(0.98);
}

button:disabled {
  cursor: default;
  filter: brightness(30%);
}

@media screen and (max-width: 1000px) {
  .container {
    background-size: cover;
    background-position: center center;
  }
  button {
    box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.5);
  }
  .jokeTypes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.none {
  display: none;
}
